[submodule "awesome/.config/awesome/awesome-revelation"]
	path = awesome/.config/awesome/awesome-revelation
	url = https://github.com/guotsuan/awesome-revelation
[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain
[submodule "awesome/.config/awesome/bling"]
	path = awesome/.config/awesome/bling
	url = https://github.com/BlingCorp/bling
[submodule "awesome/.config/awesome/nice"]
	path = awesome/.config/awesome/nice
	url = https://github.com/mut-ex/awesome-wm-nice.git
[submodule "awesome/.config/awesome/awesome-freedesktop"]
	path = awesome/.config/awesome/awesome-freedesktop
	url = https://github.com/lcpz/awesome-freedesktop
